* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

img {
  width: 50px;
  height: 50px;
  -o-object-fit: contain;
     object-fit: contain;
}

h2 {
  margin: 1rem auto;
  line-height: 1.5;
}

h3 {
  line-height: 1.4;
}

h4 {
  font-weight: 500;
  line-height: 1.4;
}

.resume {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
  margin: 0 auto;
  max-width: 1200px;
}

@media screen and (max-width: 768px) {
  .resume {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-grid-columns: none;
        grid-template-columns: none;
  }
}

.resume__one .name {
  padding: 5rem 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #423d4e;
  color: white;
}

.resume__one .name h1 {
  font-size: 3rem;
}

.resume__one .name p {
  font-size: 1.2rem;
  font-weight: 300;
  margin-top: 1rem;
}

.resume__one .contact {
  margin: 2rem 4rem;
}

.resume__one .contact p {
  padding: 3px 0;
}

.resume__one .profile {
  margin: 1rem 4rem;
}

.resume__one .profile p {
  line-height: 1.5;
}

.resume__one .skills {
  margin: 2rem 4rem;
}

.resume__one .skills li {
  padding: 3px 0;
}

.resume__two .experience {
  margin-top: 9rem;
}

@media screen and (max-width: 768px) {
  .resume__two .experience {
    margin: 2rem 4rem;
  }
}

.resume__two .experience li {
  padding: 3px 0;
  line-height: 1.5;
}

.resume__two .experience .job {
  margin: 1rem 0;
}

.resume__two .experience .job__title {
  padding: 0.2rem 0;
}

.resume__two .experience .job__desc {
  padding: 0.5rem 0;
}

@media screen and (max-width: 768px) {
  .resume__two .education {
    margin: 2rem 4rem;
  }
}

.resume__two .education p {
  line-height: 1.5;
}

@media screen and (max-width: 768px) {
  .resume__two .certification {
    margin: 2rem 4rem;
  }
}

.resume__two .certification li {
  padding: 3px 0;
  line-height: 1.5;
}

footer {
  margin: 0 auto;
  max-width: 1200px;
  background-color: #423d4e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
  color: white;
}

footer .img {
  margin-left: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .img .logo {
  margin-right: 1rem;
}

footer .img .logo-14g {
  padding: 0 0.2rem;
  background-color: white;
}
